body,
html {
    height: 100%;
    background-image: url("assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(177, 151, 22);
    font-family: 'Abril Fatface';
    font-size: 12px;
}

::selection {
    color: red;
    background: linear-gradient(#e66465, #9198e5);
}

span {
    font-weight: bold;
    font-style: italic;
    color: rgb(177, 151, 22);
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span:hover {
    transition: background-size 400ms;
    background: linear-gradient(#35b7e2, #21a859);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 40px;
    background:
        linear-gradient(to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

h1:hover {
    background-size: 0 3px, 100% 3px;
    color: red;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: orange;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}